<h1><%= link_to "#{params[:username]}'s Projects", "http://github.com/#{params[:username]}" %><span><%= link_to 'Back to excid3.com', "http://excid3.com", :class => "right" %></h1>
<%- if @repos%>
<ul>
  <%- @repos.reverse_each do |repo| %>
  <li>
    <%= link_to repo[:name], repo[:url] %>
    <span class="desc"><%= truncate(repo[:description], :length => 45) %></span>
    
    <%- if repo[:pushed_at] > 4.months.ago %>
      <span class="right green">ONGOING</span>
    <% else %>
      <span class="right red">ON HOLD</span>
    <% end %>
  </li>
  <% end %>
</ul>
<% end %>

<div id="footer">
  Loving created by <%= link_to "Chris Oliver", "http://excid3.com" %>
</div>
